<ion-content>
  <ion-slides pager="true" [options]="slideOpts">
    <ion-slide>
      <app-logo></app-logo>
      <h2>Seja Bem vindo ao</h2>
      
      <h3>MARDISA USADOS</h3>
      <p>Aqui você vai encontrar o usado que precisa </p>
      
    </ion-slide>
    <ion-slide>
      <img src="../.././../assets/images/logo.jpeg" alt="Mardisa Agro Logo">
      <h3>Tratotes</h3>
    </ion-slide>
    <ion-slide>
      <img src="../../../assets/images/harvest.jpeg" alt="harvest">
      <h3>Colheitadeiras</h3>
    </ion-slide>

    <ion-slide>
      <img src="../../../assets/images/pulverizador.jpg" alt="harvest">
      <h3>Pulverizadores</h3>
    </ion-slide>

    <ion-slide>
      <img src="../../../assets/images/implemento.jpg" alt="harvest">
      <h3>Implementos</h3>
    </ion-slide>

  </ion-slides>
  <app-start></app-start>
</ion-content>