ion-slide {
    padding: 160px 20px;
    display: block;
    width: 100%;
    h2 {
        font-size: 36px;
        font-weight: bold;
    };
}
ion-slides{
    height: calc(100% - 8%);
}

span.swiper-pagination-bullet swiper-pagination-bullet-active {
    background: red !important;
}

img {
    width: 250px;
}

span {
    background-color: red !important;
}